@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
--corFundo:#aecbff;
--corprincipal:#a8c8f2;
--corsecundaria:#4169E1;
--corterciaria:#191921;
}

header{
    
    padding:120px; 
    font-family: 'Open Sans', sans-serif;
    text-align: center; 
    margin:0px;
    background-color:var(--corFundo);
} 

body{
font-family:'Open Sans', sans-serif;
font-size: medium;
color: black;
margin: auto;
background-color:var(--corFundo);
}
 div{
    background-color: var(--corprincipal);
    text-align: center;
    border: 8px solid var(--corterciaria);
}

footer {
background-color: var(--corprincipal);
color: black;
paddin:90px;
}
#intro-pag{
text-align: center;
text-indent: 20px;}
 


 
 

 